---
layout: layout.njk
---
{% include "sections/header.njk" %}
<main>
{% include "sections/hero.njk" %}
{% include "sections/screens.njk" %}
{% include "sections/features.njk" %}
{% include "sections/whats-new.njk" %}
{% include "sections/project.njk" %}
{% include "sections/story.njk" %}
{% include "sections/download.njk" %}
</main>
{% include "sections/footer.njk" %}
