---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- set defaultLocale = languages | selectattr("default") | first %}
{%- for p in pages %}
{%- for l in languages %}
  <url>
    <loc>{{ site.url }}{{ l.url }}{{ p.path }}</loc>
    <lastmod>{{ site.releaseDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>{{ p.priority }}</priority>
{%- for alt in languages %}
    <xhtml:link rel="alternate" hreflang="{{ alt.code }}" href="{{ site.url }}{{ alt.url }}{{ p.path }}"/>
{%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ defaultLocale.url }}{{ p.path }}"/>
  </url>
{%- endfor %}
{%- endfor %}
</urlset>
